<p-drawer #drawer header="Bond Cash" position="left" [(visible)] = visible (onHide)="onHide()">
  <ng-template #content>
    <div>
      <ul class="list-none p-0 m-0 overflow-hidden">
        <li>
          <a pRipple routerLink="/home" (click)="closeCallBack($event)" class="flex items-center no-underline cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
            <i class="pi pi-home mr-2"></i>
            <span class="font-bold">Dashboard</span>
          </a>
        </li>
        <li>
          <a pRipple routerLink="/simulate" (click)="closeCallBack($event)" class="flex items-center no-underline cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
            <i class="pi pi-calculator mr-2"></i>
            <span class="font-bold">Simulate Cash Flow</span>
          </a>
        </li>
        <li>
          <a pRipple routerLink="/home" (click)="closeCallBack($event)" class="flex items-center no-underline cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
            <i class="pi pi-arrow-right-arrow-left mr-2"></i>
            <span class="font-bold">Amortization</span>
          </a>
        </li>
        <li>
          <a pRipple routerLink="/home" (click)="closeCallBack($event)" class="flex items-center no-underline cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
            <i class="pi pi-credit-card mr-2"></i>
            <span class="font-bold">Parameters</span>
          </a>
        </li>
        <li>
          <a pRipple routerLink="/home" (click)="closeCallBack($event)" class="flex items-center no-underline cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
            <i class="pi pi-chart-line mr-2"></i>
            <span class="font-bold">Analysis Tools</span>
          </a>
        </li>






      </ul>
    </div>

  </ng-template>
</p-drawer>
