@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

@tailwind utilities;
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.p-dark, .p-dark *));

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.global-toast {
  z-index: 20000 !important;
}
